@media (max-width: 1000px) {

	.inputContainer {
		display:flex;
		color: $colorLight;
		flex-direction:column;
		width:100%;
		text-align:center;
		margin:0 auto;
		justify-content: center;
		flex-wrap:no-wrap;
		// height: 3rem;
		margin-bottom:$spacingSmall;
		*:last-child{
			margin-right:0;
		}
	}
	#actions {

		margin-bottom:0;
	}
	#getBike, #getCafe {
		margin-right:0;
		margin-bottom:$spacingSmall;
		flex-grow:1;

		&:hover {

		}
	}
	#go {
		&:hover {

			background-size: 10%
		}
		img {
			width:25%;
			// border:1px solid $colorAccent;
			// border-radius:50%;
			padding:5px;
		}
	}

}


/* Portrait tablet and small desktops */
@media (max-width: 940px) {


}

/* Landscape phone to portrait tablet */
@media (max-width: 760px) {
	.twoMaps{
		flex-direction:column;
		#mapBike, #mapCafe{
			width:100%;
			height:18rem;
			margin-bottom:$spacingSmall;
		}
	}
}

/* Landscape phones and down */
@media (max-width: 480px) {
	header{
		h1{
			font-size:6rem;
			margin-bottom:$spacingSmall;
		}
		h3>*{
			display:block;
			width:100%;
		}
	}

}