$colorAccent: #99d5c8;
$colorLight:  #f3f4e9;
$colorDark: #474747;
$boxShadowDark1: 8px 8px 0px $colorDark;
$spacingSmall: 1.5rem;
$spacingBig: 3rem;
$background:  linear-gradient(rgba(243,244,233, 0.2), rgba(77, 77, 77, 0.2)),
                rgba(243,244,233, .6) url('http://i.imgur.com/OxYRdWw.png') repeat center fixed;