$colorAccent: #99d5c8;	// rgba(153,213,200,1)
$colorLight:  #f3f4e9;	// rgba(243,244,200,1)
$colorDark: #474747;	// rgba(71,71,71,1)
$colorBrown:#D3BE96;
$boxShadowDark1: 8px 8px 0px $colorDark;
$spacingSmall: 1rem;
$spacingBig: 2.5rem;
$background:  linear-gradient(rgba(243,244,233, 0.2), rgba(77, 77, 77, 0.2)),
                rgba(243,244,233, .6) url('http://i.imgur.com/OxYRdWw.png') repeat center fixed;