
@import 'setup';
@import 'variables';
@import 'medques';

@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto');

body {
	margin: 0 auto; 
	font-family: 'Roboto', sans-serif; 
	background-color: $colorDark;

	
}

button,input, a{
	transition:0.3s;
}

.wrapBorder {
	border:5px dashed $colorAccent;
	width:80%;
	margin:0 auto;
	text-align:center;
	padding:50px;
	background: linear-gradient(rgba(243,244,233, 0.8), rgba(77, 77, 77, 0.2)),
                rgba(243,244,233, .6) url('http://i.imgur.com/OxYRdWw.png') repeat center fixed;
}


.wrapper {
    margin: 0 auto;
    max-width: 1000px;
    width: 80%;
}  

h1, h2, h3 {
	text-align:center;
	padding-left:15px;
	font-family: 'Montserrat', sans-serif;
	color: $colorDark;
	outline: none !important;
}

h1 {
	margin: 1rem 0 0.75rem 0;
	font-size:5.7rem;
	letter-spacing: 4px;
	a{
		text-decoration: none;
		color:$colorDark;
		// text-shadow:
		// 	0px 1px 0px darken($colorLight,60%),
		// 	0px 2px 0px darken($colorLight,60%),
		// 	0px 3px 0px darken($colorLight,60%),
		// 	0px 4px 0px darken($colorLight,60%);
		&:hover{
			color: lighten($colorLight, 7%);
		}
			// text-shadow:
			// 	0px 1px 0px darken($colorLight,20%),
			// 	0px 2px 0px darken($colorLight,20%),
			// 	0px 3px 0px darken($colorLight,20%),
			// 	0px 4px 0px darken($colorLight,20%);		}
		&:active{
			color: lighten($colorAccent, 15%);
		}
		&:hover, &:focus{
			outline: none;
		}
	}
}
h1:hover{
	transform:translateY(-0.5rem);
}
h3{
	font-size:2rem;
	letter-spacing:4px;
	margin-top:0;
	// text-shadow:
	// 	0px 1px 0px darken($colorLight,25%),
	// 	0px 2px 0px darken($colorLight,25%),
	// 	0px 3px 0px darken($colorLight,25%);
}


header {
	margin-bottom:$spacingSmall;
	display: flex;
	flex-direction:column;
	justify-content: center;
	padding:1rem 0rem;
	color: rgba(71,71,71, 0.9);
	span::after, span::before{
		content: "↔	";
		font-size:2rem;
		color: lighten($colorDark,30%);
	// 	text-shadow:
	// 		0px 1px 0px lighten($colorLight,20%),
	// 		0px 2px 0px lighten($colorLight,20%),
	// 		0px 3px 0px lighten($colorLight,20%);
	// }
}

}
.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
body{
	 overflow-x:hidden;
}

#actions{
	display:flex;
	flex-direction:column;
	width:100%;
	// margin-bottom:$spacingSmall;
}
button{
	color: $colorLight;
	font-size:1.0rem;
	
}

#searchInput{
	text-align: center;
	padding:1rem 2rem;
	width:100%;
	// border: 4px solid $colorAccent;
	color: $colorLight;
	font-size:1.2rem;

}


#container__info{
  width: 580px;
  margin: 100px auto 0 auto;
  padding: 20px;
  background: #000;
  border: 1px solid #1a1a1a;
}
.inputContainer{
	display:flex;
	color: $colorLight;
	flex-direction:column;
	width:39%;
	text-align:center;
	margin:0 auto;
	justify-content: center;
	flex-wrap:no-wrap;
	*:last-child{
		margin-right:0;
	}
}
input::placeholder{
	color:$colorLight;
}
#getBike{
	// margin-right:$spacingSmall;
}
#getBike, #getCafe {
	flex-grow:1;
	margin-right: $spacingSmall;
	margin-bottom: $spacingSmall;
	background-color: $colorDark;
	padding: 1rem 1.5rem;
	border:none;
	// outline: 3px solid $colorLight;
	// outline-offset: -8px;
	text-align:center;
	color: $colorLight;
	font-size:1.5rem;
	// font-weight: 700;
	&:hover {
		background-color:lighten($colorAccent, 7%);
	}
}
 #go {
	flex-grow:1;
	margin-bottom: $spacingSmall;
	background-color: $colorDark;
	color: $colorLight;
	padding: 1rem 1.5rem;
	border:none;
	text-align:center;
	margin:0 auto;
	padding-bottom:10px;
	margin-bottom:10px;
	// outline: 3px solid $colorAccent;

	text-align:center;
	color: $colorLight;
	font-size:1.5rem;
	
	&:hover {
		cursor:pointer;
		background-color:lighten($colorDark, 7%);
	}
	img {
		width:35%;
		border:1px solid $colorAccent;
		border-radius:50%;
		padding:5px;
	}
}


	svg {
		width:50%;
		text-align:center;
		margin:0 auto;
	}

.submitContainer{
	display:flex;
	justify-content: center;
}
.results {
	position: relative;
	width: 100%;
	background-color: $colorLight;
	// border: 4px solid $colorAccent;
	// margin-bottom:$spacingBig;
	img{
		max-width:100%;
	}
}
.mapOverlay{
	position: absolute;
	top:0;bottom:0;left:0;right:0;
	background-color: rgba(0,0,0,1);
}
.twoMaps{
	display:flex;
	background-color: $colorAccent;
}
#mapBike{
	border-right:4px solid $colorAccent;
}


#mapBike,#mapCafe{
	width:50%;
	height:25rem;
}
input:-webkit-autofill {
    box-shadow: 0 0 0px 1000px $colorAccent inset !important;
}
footer {
	display:flex;
	justify-content: center;
	padding:$spacingSmall 0;
}

.copyright {
	width:100%;
	text-align: center;
	color: $colorAccent;
	font-weight:700;
}
.backgroundAnimate {
	-webkit-animation-name: blink;
	-webkit-animation-duration: 10s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-delay: 0s;
	-webkit-animation-iteration-count: 3;
	-webkit-animation-direction: normal;
	-webkit-animation-fill-mode: none;
	animation-name: blink;
	animation-duration: 10s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: 3;
	animation-direction: normal;
	animation-fill-mode: none;
}

@-webkit-keyframes blink {
  0%{
	opacity: 1;
  }
  25%{
	opacity: 0;
  }
  50%{
	opacity: 1;
  }
  75%{
	opacity: 0;
  }
  100%{
	opacity: 1;
  }
}

// @keyframes blink {
//   0%{
// 	opacity: 1;
//   }
//   25%{
// 	opacity: 0;
//   }
//   50%{
// 	opacity: 1;
//   }
//   75%{
// 	opacity: 0;
//   }
//   100%{
// 	opacity: 1;
//   }



// button flex



  
